.container {
    width: 700px;
    border: 2px solid black;
    display: flex;
    gap: 10px;
}
.box {
    background-color: black;
    flex-basis: 150px;
}
p {
    color: white;
    text-align: center;
    font-size: 2rem;
}
#box1 {
    flex-grow: 1;
}
#box2 {
    flex-grow: 1;
}
#box4 {
    flex-grow: 4;
}