h1 {
    text-align: center;
    color: palevioletred;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.times {
    padding: 0 30px 40px 30px;
    margin: 15px;
    border: 3px dotted palevioletred;
    line-height: 2;
    background-color: mistyrose;
    color: #535353;
}
.times h3 {
    text-align: center;
    font-weight: bold;
}