.container {
    width: 960px;
    margin: 0 auto;
}
.navi ul li {
    float: left;
    width: 150px;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid hotpink;
}
.navi a:link, .navi a:visited {
    display: block;
    font-size: 14px;
    color: #000;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.navi a:hover, .navi a:focus {
    background-color: lightpink;
    color: #fff;
}
.navi a:active {
    background-color: hotpink;
}