body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 700px;
    margin:10px auto;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
    "box1 box1 box1"
    "box2 box3 box3"
    "box2 box4 box5";
    gap: 10px;
}
.box1 {
    background-color: mistyrose;
    grid-area: box1;
}
.box2 {
    background-color: bisque;
    grid-area: box2;
}
.box3 {
    background-color: pink;
    grid-area: box3;
}
.box4 {
    background-color: peachpuff;
    grid-area: box4;
}
.box5 {
    background-color: lightpink;
    grid-area: box5;
}
@media (max-width: 768px) {
    .container {
        width: 720px;
        margin: 10px auto;
        display: block;
    }
    .item {
        height: 200px;
        margin-bottom: 10px;
    }
}
@media (max-width: 320px) {
    .container {
        width: 300px;
        margin: 10px auto;
        display: block;
    }
    .item {
        height: 200px;
        margin-bottom: 10px;
    }
}