body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1024px;
    margin:10px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 250px);
    gap: 10px;
}
.item {
    border-radius: 5px;
    font-size: 2em;
}
.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #e91e63;      
}
.item-2{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: #ff9800;
}
.item-3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #ab47bc;
}
.item-4{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #38cf44;
}
.item-5{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: #546e7a;
}
@media (max-width: 768px) {
    .container {
        width: 720px;
        margin: 10px auto;
        display: block;
    }
    .item {
        height: 200px;
        margin-bottom: 10px;
    }
}
@media (max-width: 320px) {
    .container {
        width: 300px;
        margin: 10px auto;
        display: block;
    }
    .item {
        height: 200px;
        margin-bottom: 10px;
    }
}