#container {
    max-width: 1000px;
    margin: 20px auto;
    width: 100%;
}
h1 {
    text-align: center;
    color: black;
}
.prod-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.prod-list img {
    width: 100%;
    height: auto;
    z-index: 5;
    border-radius: 5%;
    box-shadow: 0px 2px 4px;
}
.prod-list .caption {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 200px;
    padding-top: 20px;
    background: rgba(223, 147, 167, 0.692);
    opacity: 0;
    transition: all 0.6s ease-in-out;
    z-index: 10;
    border-radius: 5%;
}
.prod-list li {
    padding: 0;
    margin: 10px;
    overflow: hidden;
    flex-basis: calc(33.333% - 20px);
    position: relative;
}
.prod-list li:hover .caption {
    opacity: 1;
    transform: translateY(-200px);
}
.prod-list .caption h2, .prod-list .caption p {
    color: white;
    text-align: center;
}