* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#detail {
    border: 1px solid #000;
    padding: 30px;
    margin: 10px;
}
#detail h2 {
    font-size: 1.5em;
    text-align: center;
}